.content__about {
  margin-bottom: 25px;
  p:first-child {
    margin-bottom: 15px;
  }
}
.content__about-desc {
  color: #333333;
  font: 400 16px "Roboto", sans-serif;
  line-height: 27px;
}
.content__about-letter {
  color: #6d7f5b;
  font: 400 82px "Roboto", sans-serif;
  float: left;
  padding-right: 15px;
}
